body {
  font-family: 'Give You Glory', cursive;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide {
  display: none!important;
}

/**** Header ****/
.header {
  height: 60px;
  width: 95%;
  display: flex;
  box-shadow: 1px 1px 3px lightgrey;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2.5%;
}
.headerLeft {
  display: flex;
  width: 150px;
}
.headerMenu {
  display: flex;
  align-items: center;
}
.headerMenuItem {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.headerMenuItemTitle {
  padding-top: 4px;
  margin-left: 5px;
}
.headerNames {
  display: flex;
  width: 150px;
  justify-content: flex-end;
}
.headerTabIcon {
  font-size: 0.8em;
}
.headerHeart {
  color: red;
  margin: 0px 5px;
  font-size: 0.5em;
}
.logo, .headerNames {
  font-family: 'Caveat', cursive;
}
.gridTab {
  box-shadow: 0px 0px 3px 1px #43ea00;
}
.gridTab .headerTabIcon {
  color: #43ea00;
}
.goalsTab {
  box-shadow: 0px 0px 3px 1px #ffe200;
}
.goalsTab .headerTabIcon {
  color: #ffe200;
}
.collectionTab {
  box-shadow: 0px 0px 3px 1px #ff8a9e;
}
.collectionTab .headerTabIcon {
  color: #ff8a9e;
}

/******************/
/**** Timeline and Day ****/
#Container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.day {
    border-radius: 1px;
    box-shadow: 1px 1px 1px lightgrey;
    width: 16px;
    height: 16px;
    margin: 1.5px;
    display: flex;
    transition-property: background;
    transition-duration: 0.2s;
}
.greenDay:hover {
  transform: scale(1.2);
  background: green;
}
.blueDay {
  color: #e6adad;
}
.greenDay {
  color: #90ee98;
}
.greyDay {
  color: #dfdfdf;
}
.redDay {
  color: red;
}

.day svg {
  width: 100%;
  height: 100%;
}

.dayContent {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-size: 0.4em;
}

/**** Details ****/
.detailsContainer {
  width: 200px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.details {
  font-family: 'Give You Glory', cursive;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px grey;
}
.detailsArrow {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid grey;
  width: 0;
  margin-top: -3px;
}
.detailsTopRow {
  display: flex;
  justify-content: center;
  height: 50%;
}
.detailsBottomRow {
  height: 50%;
}
.detailsTopRow, .detailsBottomRow {
  align-items: center;
}
.detailsTopRowDate, .detailsTopRowButton {
  width: 40%;
}
.detailsTopRowDate {
  font-family: 'Caveat', cursive;
  font-size: 0.8em;
}
.detailsTopRowButton {
  margin-top: 5px;
  font-size: 0.8em;
  color: grey;
}
.detailsTopRowButton:hover {
  font-size: 0.8em;
  color: grey;
  text-decoration: underline;
}
.detailsBottomRow {
  display: flex;
}
.detailsStats {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}
.detailsStats .detailsIcon {
  width: 0.8em;
  height: 0.8em;
}
.detailsStats1 .detailsIcon {
  color: #38b6ff;
}
.detailsStats2 .detailsIcon {
  color: #ff8be5;
}
.detailsNumberBox {
  margin: 3px 7px 0px 3px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  height: 1px;
}

/******************/
/**** Card ****/
.cardArrow {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid grey;
  width: 0;
  height: 0;
}
.cardContainer {
    width: 380px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 100%;
    height: calc(100% - 12px);
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 20px;
}
.cardTopRow {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 90%;
  position: relative;
  left: 5%;
}
.cardTopRowBox {
  width: 33.3%;
  display: flex;
  align-items: center;
}
.cardTopRowType {
  justify-content: flex-start;
  font-size: 0.8em;
}
.cardTopRowDate {
  font-family: 'Caveat', cursive;
  justify-content: center;
}
.cardTopRowButton {
  justify-content: flex-end;
}
.cardTopRowX {
  position: absolute;
  right: -10%;
  top: -25%;
  box-shadow: 0px 0px 10px 0px grey;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
}
.cardX {
  font-size: 1.2em;
}
.cardTabBar {
    display: flex;
    width: 90%;
    position: relative;
    left: 5%;
    box-shadow: 0px 0px 10px 0px lightgrey;
    border-radius: 10px;
}
.cardTab {
    width: 33.33%;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.cardTabTitle {
    margin-top: 5px;
}
.cardIcon1 {
  color: #ffde59;
}
.cardIcon2 {
  color: #ff914d;
}
.cardIcon3 {
  color: #7ed957;
}
.cardTabTitle {
    margin-left: 5px;
    font-size: 0.9em;
}

.cardRow3 {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContentBox {
    width: 90%;
    position: relative;
    left: 5%;
    height: 240px;
    box-shadow: 0px 0px 10px 0px lightgrey;
    border-radius: 10px;
    padding: 5px 0px;
}

.cardTabUnderline {
  position: absolute;
  bottom: 0;
  content: "";
  width: 30%;
  border-bottom: 3px solid #ffde59;;
  height: 10px;
}
.appreciationUnderline {
  border-bottom: 3px solid #ffde59;
}
.notesUnderline {
  border-bottom: 3px solid #ff914d;
}
.memoriesUnderline {
  border-bottom: 3px solid #7ed957;
}
.cardPost {
  width: 85%;
  position: relative;
  left: 7.5%;
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2px;
  box-shadow: 0px 5px 3px -6px grey;
}

.cardPostName {
  font-family: 'Caveat', cursive;
  width: fit-content;
  color: #38b6ff;
  margin-bottom: 2px;
  font-size: 1.2em;
}
.name2 {
  color: #ff8be5;
}

.cardPostContent {
  display: flex;
}

.cardPostContentText {
    margin-left: 10px;
    text-align: left;
    font-size: 0.9em;
}
